#EXTM3U

#Lokal TV
#EXTINF:0 channel-id="100" tvg-id="SCTV" group-title="Lokal TV",SCTV
http://210.210.155.35/session/dd7b6c52-5a8a-11e8-b52a-b82a72d63267/qwr9ew/s/s03/index1.m3u8

#EXTINF:0 channel-id="101" tvg-id="INDOSIAR" group-title="Lokal TV",INDOSIAR
http://210.210.155.35/session/aeb0403c-5a8a-11e8-9332-b82a72d63267/qwr9ew/s/s04/index1.m3u8

#EXTINF:0 channel-id="103" tvg-id="ANTV" group-title="Lokal TV",ANTV
http://210.210.155.35/session/2aeedd48-5a8b-11e8-b712-b82a72d63267/qwr9ew/s/s07/index1.m3u8

#EXTINF:0 channel-id="104" tvg-id="TRANS7" group-title="Lokal TV",TRANS7
http://202.80.222.4/mnt/tmpfs/hls/001/001/ch14041511545447343123/index.m3u8

#EXTINF:0 channel-id="105" tvg-id="RCTI" group-title="Lokal TV",RCTI
https://stream.sindonews.net/live/rctioke.m3u8

#EXTINF:0 channel-id="106" tvg-id="MNCTV" group-title="Lokal TV",MNCTV
http://202.80.222.4/mnt/tmpfs/hls/001/001/ch14041511111714365733/index.m3u8

#EXTINF:0 channel-id="107" tvg-id="TVONE" group-title="Lokal TV",TVONE
http://210.210.155.35/session/6739f672-66a5-11e8-9332-b82a72d63267/qwr9ew/s/s02/index1.m3u8

#EXTINF:0 channel-id="108" tvg-id="BERITASATU" group-title="Lokal TV",BERITASATU
http://edge.linknetott.swiftserve.com/live/BsNew/amlst:bsnew/playlist.m3u8

#EXTINF:0 channel-id="109" tvg-id="JAKTV" group-title="Lokal TV",JAKTV
https://kmklive-lh.akamaihd.net/i/jaktv_ta_regular@94476/master.m3u8?hdnts=st=1527972761~exp=1527972811~acl=/i/*~hmac=aa2bd1751087d128dcf72b1d33b732c0e82dfb99888282ca967074fad8df47a3

#EXTINF:0 channel-id="110" tvg-id="METROTV" group-title="Lokal TV",METROTV
http://edge.metrotvnews.com:1935/live-edge/smil:metro.smil/chunklist_w953595613_b1300000_sleng.m3u8

#EXTINF:0 channel-id="111" tvg-id="KOMPAS TV" group-title="Lokal TV",KOMPAS TV
http://210.210.155.35/session/58f7a726-5abb-11e8-9074-c81f66f89318/qwr9ew/s/s09/index1.m3u8

#EXTINF:0 channel-id="112" tvg-id="GTV" group-title="Lokal TV",GTV
http://202.80.222.4/mnt/tmpfs/hls/001/001/ch14041511505498448705/index.m3u8

XTINF:0 channel-id="112" tvg-id="GTV" group-title="Lokal TV",HBO
http://185.21.217.29:9100/ape/hbohd/chunks.m3u8?nimblesessionid=50000960&wmsAuthSign=c2VydmVyX3RpbWU9Ni8xOS8yMDE4IDc6NTM6NTcgUE0maGFzaF92YWx1ZT0yZ3lzUHVJbG5uNXgwMXhERlBhT3pRPT0mdmFsaWRtaW51dGVzPTI=

#EXTINF:0 channel-id="113" tvg-id="NET TV" group-title="Lokal TV",NET. TV
http://210.210.155.35/session/6d322028-5a92-11e8-9362-c81f66f89318/qwr9ew/s/s08/index1.m3u8

#EXTINF:0 channel-id="114" tvg-id="RTV" group-title="Lokal TV",RTV
https://kmklive-lh.akamaihd.net/i/rtv_ta_regular@137568/master.m3u8?hdnts=st=1528216488~exp=1528216538~acl=/i/*~hmac=e01f90a876697e5e151f8910d7f63797e746f4b78ce2d6ca1dc819a7b326ef5e

#EXTINF:0 channel-id="115" tvg-id="TRANSTV" group-title="Lokal TV",TRANSTV
http://210.210.155.35/session/0507ee28-5abb-11e8-9443-c81f66f89318/qwr9ew/s/s05/index1.m3u8

#EXTINF:0 channel-id="116" tvg-id="DW" group-title="Lokal TV",DW
https://kmklive-lh.akamaihd.net/i/dwtv_ta_regular@137568/master.m3u8?hdnts=st=1528216687~exp=1528216737~acl=/i/*~hmac=43b53ee90a332f14d743c6523d9263e8815596a065ac06371dd6eae241749bac

#EXTINF:0 channel-id="117" tvg-id="INEWS" group-title="Lokal TV",INEWS
http://202.80.222.4/mnt/tmpfs/hls/001/001/ch14041511541532132975/index.m3u8
